<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75095486220-kr2ib04j7t741fq044ps0sqb6iau39av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75095486220-kr2ib04j7t741fq044ps0sqb6iau39av</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75095486220-o8b498nf119l8elrc1prbulkhcttt2j0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBV7wEKqlmqoGk5gvtCnect97Z_f0meqM</string>
	<key>GCM_SENDER_ID</key>
	<string>75095486220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myordbok.app</string>
	<key>PROJECT_ID</key>
	<string>myordbok-app</string>
	<key>STORAGE_BUCKET</key>
	<string>myordbok-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75095486220:ios:dcc9dbfbea4bbff7b72329</string>
</dict>
</plist>